body{
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: black;
    text-align: center;
}

p{
    color: deeppink;
    font-size: medium;
}